devices.txt
output/
exports/
ref/
.vagrant
bom/

# Output folders
prod/
Gerber/
Gerbers/
exports/
build*/
shapes3d/
dist/
*.egg-info
*.xml

# Temp
_saved_*
tags
.tags
*~
*.swp
*DS_Store
*.pdsbak
*.workspace
*.zip
*CADCAM
*-bak
*.bak
_autosave*
